// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
.user-index {

	.search-user {
		@include index-header();

		form {
			display: inline-block;
		}
	}


	.profile-thumb {
		padding: 1em;
		background-color: black;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 0px;
		color: white;
		margin-bottom: 1em;
		margin-left: 0;
		text-align: center;
		-webkit-transition: 0.25s linear;
	  	transition: 0.25s linear;
	}

	.profile-thumb:hover {
		background: black;
		background: rgba(0, 0, 0, 1);
	}

	.picture-thumb {
		width: 100%;
		min-height: 200px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 1em;
	}

	.status-ribbon {
		float: right;
	}

	.current-ribbon {
		float: right;
		background-image: url("../assets/current.png");
		background-repeat:no-repeat;
		width: 85px;
		height: 101px;

		.yr {
		  margin-top: 30px;
		  -webkit-transform: rotate(-90deg);
		  -moz-transform: rotate(-90deg);
		  -ms-transform: rotate(-90deg);
		  -o-transform: rotate(-90deg);
		  transform: rotate(-90deg);
		  text-shadow: 3px 3px #000000;
		}
	}

	.span3:nth-child(4n + 2) {
		margin-left: 0;
		color: red;
	}

	.show-name {
		margin: 1em;
		margin-top: 0.5em;
		@include ellipsis();
	}

	.button {
		font-size: 1em;
		width: inherit;
		background: none;
		border: 1px solid;
		border-color: white;
		box-shadow: none;
		opacity: 0.7;
	}

	.button:hover, .button:active {
		background: $midnight-blue;
		opacity: 1;
	}

	img {
		margin-bottom: 1em;
	}
}